.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;

  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    .footer__logo {
      width: 15rem;
      height: auto;
    }
  }

  .footer__nav {
    display: flex;
    padding: 0 10rem;
    justify-content: space-between;

    .footer__nav-list {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 2rem 0;
      border-top: 1px solid var(--color-gray-dark);

      .footer__item {

        .footer__link:link,
        .footer__link:visited {
          text-decoration: none;
          color: var(--color-gray-dark);
          text-transform: uppercase;
          display: inline-block;
          padding: 0.8rem 1.6rem;
          transition: all 0.2s;
        }

        .footer__link:hover {
          color: var(--color-primary);
          background-color: rgba(0, 0, 0, 0.4);
          transform: rotate(5deg);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
        }
      }
    }

    .footer__copyright {
      color: var(--color-gray-dark);
      align-self: center;
    }
  }
}